body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.image-container {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%; /* 5% margin on either side */
    height: 700px; /* Set a height for the placeholder */
    background-color: #cccccc; /* Grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 24px;}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.past-services {
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
}

.past-services a {
    margin-top: 40px;
    text-decoration: none;
    color: #333;
}

#viewBtn {
    display: block;
    margin: 0 auto;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#viewBtn button {
    padding: 10px 20px;
}

.service-images {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.service-images img {
    flex: 1;
    background-color: #cccccc;
    width: 50rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px;
}

.service-images img:hover {
    cursor: pointer;
}

.about-us {
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
}